<div class="csamples_widget clearfix">
  <h3><%= I18n.t('c80_catoffers.csamples_widget.h3_title') %></h3>

  <% list.each_with_index do |csample, i| %>
      <% aux_css = aux_css_list[i] %>

      <div class="csample index_<%=i%>">

        <div class="header clearfix">
          <h4><%= csample.title.html_safe %></h4>
          <span><%= csample.sub_title %></span>
        </div>

        <div class="csphoto">
          <%= render_image_link_lazy({
                                             :alt_image     => csample.title,
                                             :image         => csample.csphoto,
                                             :a_href        => '#',
                                             :a_class       => '',
                                             :a_css_style   => aux_css[:a_lazy_wrapper],
                                             :a_rel         => 'nofollow'
                                     }) %>
        </div>

        <div class="offers" style="<%= aux_css[:common_width] %>">
          <ul>
            <% csample.crows.each do |crow| %>
            <li>
              <%= crow.offer_title %> - <span class='pric'><%= crow.offer_price_integer %> р.</span>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="summ_price" style="<%= aux_css[:common_width] %>">
          <span class="dt">Итого:</span>
          <span class="dd"><%= csample.summ_price %></span> руб.
        </div>

      </div>

  <% end %>
</div>