<%# выдать текстовый список предложений, сгруппированный по категориям %>
<div class="offer_list_grouped">

  <ul>
    <% list.each do |obj| %> <%# obj: {cat,offers} %>

        <% if obj[:cat_title].present? %>
            <li>
                <h5><%= obj[:cat_title] %></h5>
                <ul>
                  <% obj[:offers].each do |offer| %>
                      <li>
                        <%= link_to offer.title, my_url_for_offer(offer), title: offer.title %>
                        <div class="offer_price"><%= offer.price %></div>
                      </li>
                  <% end %>
                </ul>
            </li>
        <% else %>
          <% obj[:offers].each_with_index do |offer, index| %>
              <% k = index % 2 == 0 ? 'odd':'even' %>
              <li class="<%=k%>">
                <%= link_to offer.title, my_url_for_offer(offer), title: offer.title %>
                <div class="offer_price"><%= offer.price %></div>
              </li>
          <% end %>
        <% end %>
    <% end %>
  </ul>

</div>